{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
    <div class="content page posts-expand">
        <div class="post-block animated fadeIn" lang="en">
            <header class="post-header animated fadeInDown">
                <h1 class="post-title" itemprop="name headline">分类目录</h1>

                <div class="post-meta">
                    <div class="post-description">by Suki</div>
                </div>
            </header>


            <div class="post-body animated fadeInDown">
                {% for category in all_categories %}
                <h3>{{ category.name }}</h3>
                    <ul>
                    {% for article in category.articles %}

                    <li><a href="{{ article.get_absolute_url}}"
                           rel="noopener external nofollow noreferrer" target="_blank" class="exturl" title="">{{ article.title }}</a></li>


                    {% endfor %}

                </ul>
                {% endfor %}
            </div>


        </div>


    </div>
{% endblock %}
